<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/cha.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<body>
<%-include('common/nav.ejs')%>
<div id="back1">
    <!--<div id="free">-->
    <!--<input type="text" placeholder="Free shipping" id="input1" ><i class="fas fa-search" id="color"></i>-->
    <!--</div>-->
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="hour123">
    <span id="hour"><i class="fas fa-angle-left" id="jian"></i><i class="fas fa-arrow-left" id="jian1"></i></span>
    <a href="../html/information.html"><span id="return">返回</span></a>
</div>
<div>
    <p id="ou">欧洲联盟</p>
</div>
<span id="song1">尺码指南</span>
<span id="e">ETQ</span>
<div class="span">
    <span>35</span><span>36</span><span>37</span><span>38</span><span>39</span><span>40</span><span>41</span><span>42</span><span>43</span><span>44</span><span>45</span><span>46</span><span>47</span>
</div>
<hr id="hr">
<span id="ou1">美国M.</span>
<div class="span1">
    <span>2</span><span>3</span><span>4</span><span>五</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span><span>12</span><span>13</span><span>14</span>
</div>
<hr id="hr1">
<span id="ou2">美国W.</span>
<div class="span2">
    <span>4</span><span>五</span><span>6</span><span>7</span><span>8</span><span>9</span>
</div>
<hr id="hr2">
<span id="ou3">英国M.</span>
<div class="span3">
    <span>1</span><span>2</span><span>3</span><span>4</span><span>五</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span><span>12</span><span>13</span>
</div>
<hr id="hr3">
<span id="ou4">厘米</span>
<div class="span4">
    <span>23.5</span><span>24</span><span>24.5</span><span>25</span><span>25.5</span><span>26.5</span><span>27</span><span>27.5</span><span>28.5</span><span>29</span><span>29.5</span><span>30.5</span><span>31</span>
</div>
<hr id="hr4">
<span id="ou5">英寸</span>
<div class="span5">
    <span>9.2</span><span>9.4</span><span>29.6</span><span>9.8</span><span>10</span><span>10.4</span><span>10.6</span><span>10.8</span><span>11.2</span><span>11.4</span><span>11.6</span><span>11.8</span><span>12.2</span>
</div>
<hr id="hr5">
<br><br><br><br><br><br><br><br><br><br><br><br>
<!--第三部分-->
<div id="third">
    <span id="da">找不到答案？</span><br><br><br>
    <div>
        找不到您要找的答案？您可以通过屏幕右下方的实时聊天联系我们，如果我们不在线，也可以通过电子邮件联系我们。
    </div>
    <br>
    <a href="http://www.etq-amsterdam.com/cdn-cgi/l/email-protection#67100f080b0214060b02270213164a060a1413021503060a4904080a">  <span class="xianWu curou">电邮我们</span></a>
</div>
<br><br>
<%-include('common/footer.ejs')%>
<script src="../js/cha.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
</body>
</html>