<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/information.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>
<%-include('common/nav.ejs')%>
<div id="back1">
    <!--<div id="free">-->
        <!--<input type="text" placeholder="Free shipping" id="input1" ><i class="fas fa-search" id="color"></i>-->
    <!--</div>-->
</div>
<div>
    <div class="qi" id="qi">
        <div class="a1">帮助主题</div>
        <br><br>
        <div>
            <div class="b1">找不到您要找的答案？您可以</div><div class="b1">发送电子邮件至</div><div class="b1 xianWu" id="width"> <a href="http://www.etq-amsterdam.com/cdn-cgi/l/email-protection#67100f080b0214060b02270213164a060a1413021503060a4904080a"> [email protected]</a></div>
        </div>
    </div>
    <div class="qi" id="qi1">
        <div class="a">尺码指南</div>
        <br><br>
        <div>
            <div class="b1">在我们的尺寸指南中找出您需要的</div><div class="b1">尺寸.</div>
        </div>
        <br><br>
        <a href="../html/chima.html"><div class="d3 xianWu">阅读更多<div class="display"></div></div></a>
    </div>
    <div class="qi" id="qi2">
        <div class="a">送货信息</div>
        <br><br>
        <div>
            <div class="b1">运费，预计时间和免费送货选项。</div>
        </div>
        <br><br><br>
        <a href="../html/songhuo.html"><div class="d3 xianWu">阅读更多<div class="display"></div></div></a>
    </div>
    <div class="qi" id="qi3">
        <div class="a">付款</div>
        <br><br>
        <div>
            <div class="b1">可用的付款选项和其他常见付款问</div><div class="b1">题。</div>

        </div>
        <br><br>
        <a href="../html/wenti.html"><div class="d3 xianWu">阅读更多<div class="display"></div></div></a>
    </div>
</div>
<br><br>
<div>
    <div class="qi" id="qi4">
        <div class="a">返回</div>
        <br><br>
        <div>
            <div class="b1">阅读如何退回您的项目以及适用的</div><div class="b1">规则。</div>
        </div>
        <br><br>
        <a href="../html/tuihuo.html"><div class="d3 xianWu">阅读更多<div class="display"></div></div></a>
    </div>
    <div class="qi" id="qi5">
        <div class="a">交易所</div>
        <br><br>
        <div>
            <div class="b1">阅读如何轻松应用您的交换，并确</div><div class="b1">保您的项目保留。</div>
        </div>
        <br><br>
        <a href="../html/tuihuo.html"><div class="d3 xianWu">阅读更多<div class="display"></div></div></a>
    </div>
    <div class="qi" id="qi6">
        <div class="a">经常问的问题</div>
        <br><br>
        <div>
            <div class="b1">在常见问题部分找到答案。</div>
        </div>
        <br><br><br>
        <a href="../html/wenti.html"><div class="d3 xianWu">阅读更多<div class="display"></div></div></a>
    </div>
    <br><br>
    <div>
        <div class="qi" id="qi7">
            <div class="a">订单跟踪</div>
            <br><br>
            <div>
                <div class="b1">追踪您的订单。</div>
            </div>
            <br><br>
            <a href="../html/wenti.html"><div class="d3 xianWu">阅读更多<div class="display"></div></div></a>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
</div>
    <%-include('common/footer.ejs')%>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/information.js"></script>
<script src="../js/yewei.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../js/nav.js"></script>
</body>
</html>