<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新收藏</title>
    <link rel="stylesheet" href="../css/newCollectionEjs.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="../bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('common/nav.ejs')%>
<div id="guolvDiv">
    <!--<span id="guolv">过滤<i class="fas fa-angle-down"></i></span>-->
    <!--<img src="images/newcollection/smImg05-1.jpg" alt="">-->
</div>
<div class="clear"></div>
<div id="body" class="container-fluid">
    <div class="row" id="header1">
        <div id="headerLeft" class="col-xs-6">
            <div id="headerText">
                <span id="headerT">新系列</span>
                <p id="headerP">一系列深思熟虑ETQ款式。高端设计产品，质量上乘，美观。</p>
            </div>
            <div class="row" id="headerSm">
                <div class="col-xs-6 sm-All" id="sm1">
                    <div id="smImg1" class="smImg NodeImg">
                        <!--<img src="" alt="" class="NodeImg">-->
                        <div class="leftBtn"><i class="fas fa-angle-left"></i></div>
                        <div class="rightBtn"><i class="fas fa-angle-right"></i></div>
                    </div>
                    <div class="smText">
                        <a href="shopping.do" class="shopG">
                            <p class="shoesColor"><span class="goodsName"></span><span class="goodsColor"></span></p>
                            <p class="shoesPrice"> <span class="goodsPrice"></span></p>
                        </a>

                    </div>
                </div>
                <div class="col-xs-6 sm-All" id="sm2">
                    <div id="smImg2" class="smImg NodeImg">
                        <!--<img src="" alt="" class="NodeImg">-->
                        <div class="leftBtn"><i class="fas fa-angle-left"></i></div>
                        <div class="rightBtn"><i class="fas fa-angle-right"></i></div>
                    </div>
                    <div class="smText">
                        <a href="shopping.do" class="shopG">
                            <p class="shoesColor"><span class="goodsName"></span><span class="goodsColor"></span></p>
                            <p class="shoesPrice"> <span class="goodsPrice"></span></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6" id="bigImg1">
            <div id="bigImg1-1"></div>
        </div>
    </div>
    <div class="height15 row">
        <div class="col-xs-3 sm-All" id="sm3">
            <div id="smImg3" class="smImg NodeImg">
                <!--<img src="" alt="" class="NodeImg">-->
                <div class="leftBtn"><i class="fas fa-angle-left"></i></div>
                <div class="rightBtn"><i class="fas fa-angle-right"></i></div>
            </div>
            <div class="smText">
                <a href="shopping.do" class="shopG">
                    <p class="shoesColor"><span class="goodsName"></span><span class="goodsColor"></span></p>
                    <p class="shoesPrice"> <span class="goodsPrice"></span></p>
                </a>

            </div>
        </div>
        <div class="col-xs-3 sm-All" id="sm4">
            <div id="smImg4" class="smImg NodeImg">
                <!--<img src="" alt="" class="NodeImg ">-->
                <div class="leftBtn"><i class="fas fa-angle-left"></i></div>
                <div class="rightBtn"><i class="fas fa-angle-right"></i></div>
            </div>
            <div class="smText">
                <a href="shopping.do" class="shopG">
                    <p class="shoesColor"><span class="goodsName"></span><span class="goodsColor"></span></p>
                    <p class="shoesPrice"> <span class="goodsPrice"></span></p>
                </a>
            </div>
        </div>
        <div class="col-xs-3 sm-All" id="sm5">
            <div id="smImg5" class="smImg NodeImg">
                <!--<img src="" alt="" class="NodeImg">-->
                <div class="leftBtn"><i class="fas fa-angle-left"></i></div>
                <div class="rightBtn"><i class="fas fa-angle-right"></i></div>
            </div>
            <div class="smText">
                <a href="shopping.do" class="shopG">
                    <p class="shoesColor"><span class="goodsName"></span><span class="goodsColor"></span></p>
                    <p class="shoesPrice"> <span class="goodsPrice"></span></p>
                </a>
            </div>
        </div>
        <div class="col-xs-3 sm-All" id="sm6">
            <div id="smImg6" class="smImg NodeImg">
                <!--<img src="" alt="" class="NodeImg">-->
                <div class="leftBtn"><i class="fas fa-angle-left"></i></div>
                <div class="rightBtn"><i class="fas fa-angle-right"></i></div>
            </div>
            <div class="smText">
                <a href="shopping.do" class="shopG">
                    <p class="shoesColor"><span class="goodsName"></span><span class="goodsColor"></span></p>
                    <p class="shoesPrice"> <span class="goodsPrice"></span></p>
                </a>
            </div>
        </div>
    </div>
    <div id="height30" class="row">
        <div id="bigImg2" class="col-xs-6">

        </div>
        <div class="col-xs-6" id="thirdSm">
            <div class="col-xs-6 sm-All1" id="sm7">
                <div id="smImg7" class="smImg1 NodeImg">
                    <!--<img src="" alt="" class="NodeImg">-->
                    <div class="leftBtn"><i class="fas fa-angle-left"></i></div>
                    <div class="rightBtn"><i class="fas fa-angle-right"></i></div>
                </div>
                <div class="smText">
                    <a href="shopping.do" class="shopG">
                        <p class="shoesColor"><span class="goodsName"></span><span class="goodsColor"></span></p>
                        <p class="shoesPrice"> <span class="goodsPrice"></span></p>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 sm-All1" id="sm8">
                <div id="smImg8" class="smImg1 NodeImg">
                    <!--<img src="" alt="" class="NodeImg">-->
                    <div class="leftBtn"><i class="fas fa-angle-left"></i></div>
                    <div class="rightBtn"><i class="fas fa-angle-right"></i></div>
                </div>
                <div class="smText">
                    <a href="shopping.do" class="shopG">
                        <p class="shoesColor"><span class="goodsName"></span><span class="goodsColor"></span></p>
                        <p class="shoesPrice"> <span class="goodsPrice"></span></p>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 sm-All1" id="sm9">
                <div id="smImg9" class="smImg1 NodeImg">
                    <!--<img src="" alt="" class="NodeImg">-->
                    <div class="leftBtn"><i class="fas fa-angle-left"></i></div>
                    <div class="rightBtn"><i class="fas fa-angle-right"></i></div>
                </div>
                <div class="smText">
                    <a href="shopping.do" class="shopG">
                        <p class="shoesColor"><span class="goodsName"></span><span class="goodsColor"></span></p>
                        <p class="shoesPrice"> <span class="goodsPrice"></span></p>
                    </a>

                </div>
            </div>
            <div class="col-xs-6 sm-All1" id="sm10">
                <div id="smImg10" class="smImg1 NodeImg">
                    <!--<img src="" alt="" class="NodeImg">-->
                    <div class="leftBtn"><i class="fas fa-angle-left"></i></div>
                    <div class="rightBtn"><i class="fas fa-angle-right"></i></div>
                </div>
                <div class="smText">
                    <a href="shopping.do" class="shopG">
                        <p class="shoesColor"><span class="goodsName"></span><span class="goodsColor"></span></p>
                        <p class="shoesPrice"> <span class="goodsPrice"></span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="turnPage" class="row">
        <div>
            <a onclick="shuaxin(1)"><i class="fas fa-angle-left"></i></a>
            <span>1</span>
            <a onclick="shuaxin(2)"><i class="fas fa-angle-right"></i></a>
        </div>
    </div>
    <div id="backTop"><i class="fas fa-angle-up"></i></div>
</div>
<div class="clear"></div>
<%-include('common/yewei.ejs')%>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="../js/newCollectionEjs.js"></script>
<script src="../js/nav.js"></script>
<script>
    let colNum=0
    $(shuaxin());
    function shuaxin(mynum) {
        if(mynum==1){
            if(colNum==0){
                colNum=0;
            }else {
                colNum-=10
            }
        }else if(mynum==2){
            colNum+=10
        }

        // console.log(colNum)

        var r= window.location.search.substr(1);
        var a=decodeURI(r);
        var sex=a.replace("s=","");
        if(sex=="man"){
            sex='男'
        }else if(sex=="woman"){
            sex='女'
        }else if(sex=="all"){
            sex='sex'
        }else if(sex=="qxr"){
            sex='sex'
        }
        // console.log(sex)
        $.ajax({
            type:"get",
            url:"/aa.do",
            data:{
                sex:sex,
                num:colNum
            },
            async:true,
            success:function (data) {
                // console.log(data+1)
                $.each(data,function (i) {
                    // console.log($(this))
                    $(".NodeImg")[i].style.backgroundImage="url('"+$(this)[0].pic_path+"')";
                    $(".goodsName")[i].innerHTML=$(this)[0].g_name.replace("_"," ");
                    $(".goodsColor")[i].innerHTML=$(this)[0].color_name;
                    $(".goodsPrice")[i].innerHTML="￥"+$(this)[0].price
                })
            }
        })
    }
    var num=1
    $(".leftBtn").click(function () {
        if(num<=1){
            num=7
        }else {
            num--
        }
        var leftName=$(this).parent().next().children().children()[0].childNodes[0].innerHTML.replace(" ","_");
        var leftColor=$(this).parent().next().children().children()[0].childNodes[1].innerHTML;
        var leftImg=$(this).parent()[0]

        // console.log(num);
        $.ajax({
            type:"get",
            url:"leftBtn.do",
            data:{
                leftName:leftName,
                leftColor:leftColor,
                num:String(num)
            },
            async:true,
            success:function (data) {
                leftImg.style.backgroundImage="url('"+data[0].pic_path+"')"
            }
        })
    })
    $(".rightBtn").click(function () {
        if(num>=7){
            num=1
        }else {
            num++
        }
        var leftName=$(this).parent().next().children().children()[0].childNodes[0].innerHTML.replace(" ","_");
        var leftColor=$(this).parent().next().children().children()[0].childNodes[1].innerHTML;
        var leftImg=$(this).parent()[0]
        // console.log(num);
        $.ajax({
            type:"get",
            url:"leftBtn.do",
            data:{
                leftName:leftName,
                leftColor:leftColor,
                num:num
            },
            async:true,
            success:function (data) {
                leftImg.style.backgroundImage="url('"+data[0].pic_path+"')"
            }
        })
    })
    $(".sm-All,.sm-All1").mouseleave(function () {
        num=1
        var r= window.location.search.substr(1);
        var a=decodeURI(r);
        var sex=a.replace("s=","");
        if(sex=="man"){
            sex='男'
        }else if(sex=="woman"){
            sex='女'
        }else if(sex=="all"){
            sex='sex'
        }else if(sex=="qxr"){
            sex='sex'
        }
        $.ajax({
            type:"get",
            url:"/aa.do",
            async:true,
            data:{
                sex:sex,
                num:colNum
            },
            success:function (data) {
                $.each(data,function (i) {
                    $(".NodeImg")[i].style.backgroundImage="url('"+$(this)[0].pic_path+"')"
                })
            }
        })
    })
    $(".sm-All,.sm-All1").mouseenter(function () {
        var leftName=$(this).children()[1].childNodes[1].childNodes[1].childNodes[0].innerHTML.replace(" ","_");
        var leftColor=$(this).children()[1].childNodes[1].childNodes[1].childNodes[1].innerHTML;
        var leftImg=$(this).children()[0]
        num=2
        $.ajax({
            type:"get",
            url:"leftBtn.do",
            data:{
                leftName:leftName,
                leftColor:leftColor,
                num:num
            },
            async:true,
            success:function (data) {
                leftImg.style.backgroundImage="url('"+data[0].pic_path+"')"
            }
        })
    })
    $(".shopG").click(function () {
        var shopName=$(this).children().children()[0].innerHTML.replace(" ","_");
        var shopColor=$(this).children().children()[1].innerHTML;
        $(this).attr("href",'/shopping.do?shopName='+shopName+'&shopColor='+shopColor)
        // $(window).attr('location','/shopping.do?shopName='+shopName+'shopColor='+shopColor)
    })
</script>
</body>
</html>