<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page1-bk3-1css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr60.jpg" class="col-lg-12">
            </div>
            <div class="col-lg-5 bk-top">
                <h2 class="js">
                    etq商店最好的基础知识
                </h2>
                <p class="Read">
                    夏天即将结束，但这并不意味着你必须投资新一季的衣橱。
                    解决方案非常简单：重新评估您已经拥有的主食，并使用正确的基础知识完成您的衣橱。
                    最好的一双镶边，最适应性的外套和纯棉T恤。
                    <br>
                    <br>
                    我们收集了来自etq商店的 Norse Projects，Blanc Essentials和APC的必需品。
                    <br>
                    <br>
                    <br>
                    分享
                </p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid bk-top" id="div1">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1">
                <p class="Read2">
                    Blanc Essentials T恤白色€25
                    <br>
                    APC Petit新标准Indigo牛仔裤€160
                </p>
            </div>
            <div class="col-lg-8">
                <img src="../img/hr61.jpg" class="col-lg-12" >
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid bk-top" id="div2">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr62.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <p class="MT">
                    Blanc Essentials T恤黑色€25
                    <br>
                    APC Petit新标准黑色牛仔裤€160
                </p>
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid bk-top" id="div3">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1">
                <p class="Read2">
                    Blanc Essentials圆领运动衫€65
                    <br>
                    Norse Projects斜纹运动帽海军€65
                </p>
            </div>
            <div class="col-lg-8">
                <img src="../img/hr63.jpg" class="col-lg-12" >
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid bk-top" id="div4">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr64.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <p class="MT">
                    APC Petit新标准靛蓝牛仔裤€160
                    <br>
                    ETQ LT 04合金€250
                </p>
            </div>
        </div>
    </div>





</section>
<!--页尾-->
<%-include('common/footer.ejs')%>

<script src="../js/page2-bk1-1.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>