<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page1-bk2-1css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr31.jpg" class="col-lg-12">
            </div>
            <div class="col-lg-5">
                <h3 class="js">
                    技术先行者：德比和切尔西
                </h3>
                <p class="Read">
                    正式风格的创新
                    <br>
                    <br>
                    切尔西和德比本赛季重返赛场，经过重新设计，采用更多技术外观，采用多种材料和结构设计，带来触感。
                    通过这篇社论，我们突出了它们的重要形状，并研究了一些材料，氯丁橡胶和EVA泡沫。
                    <br>
                    <br>
                    氯丁橡胶是有史以来第一种合成橡胶产品，它采用贴身结构装饰了我们新款轮廓的鞋面。
                    作为最多用途的人造面料之一，氯丁橡胶被用于太空设备，军用装备和潜水服。
                    在寒冷的日子里提供令人惊叹的耐用性和绝缘性。
                    <br>
                    <br>
                    这款笨重的外底采用EVA：Ethel醋酸乙烯酯制成，为经典外观增添了大胆的外观。
                    泡沫底部是橡胶的环保替代品，是各种外底中最轻的一种。
                    它具有坚固的鞋底所具有的所有特性：从防水性到极佳的减震性。
                    <br>
                    <br>
                    <a href="" class="xianWu">分享</a>
                </p>
                <div class="bk-smtop">
                    <img src="../img/hr32.jpg" class="LT">
                    <p class="MT LT">
                        CB 02 Tech Space Grey
                        <br>
                        € 247.93
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid bk-top" id="div1">
        <div class="row">
            <div class="col-lg-6 bk-smtop1">
                <img src="../img/hr33.jpg" class="col-lg-8 col-lg-offset-2">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr34.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid bk-top" id="div2">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr35.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr36.jpg" class="LT">
                <p class="MT LT">
                    DS 02 Tech Space Grey
                    <br>
                    € 223.14
                </p>
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid bk-top" id="div3">
        <div class="row">
            <div class="col-lg-6 bk-smtop1">
                <img src="../img/hr37.jpg" class="col-lg-8 col-lg-offset-2">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr38.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid bk-top" id="div4">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr39.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr40.jpg" class="LT">
                <p class="MT LT">
                    CB 02 Tech Space Grey
                    <br>
                    € 247.93
                </p>
            </div>
        </div>
    </div>
    <!--板块6-->
    <div class="container-fluid" id="div5">
        <p class="bk-top">
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买这个故事
        </p>
        <div class="row bk-top2 ">
            <div class="col-lg-4 sale1">
                <img src="../img/hr41.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    DS 02 Tech Space Grey
                    <br>
                    € 223.14
                </p>
                <div class="size1">
                    <p>可用尺寸</p>
                    <a href=""class="xianWu"> 欧盟 39</a>
                    <a href=""class="xianWu"> 欧盟 40</a>
                    <a href=""class="xianWu"> 欧盟 41</a><br>
                    <a href=""class="xianWu"> 欧盟 42</a>
                    <a href=""class="xianWu"> 欧盟 43</a>
                    <a href=""class="xianWu"> 欧盟 44</a>
                    <a href=""class="xianWu"> 欧盟 45</a>
                    <a href=""class="xianWu"> 欧盟 46</a>
                </div>
            </div>
            <div class="col-lg-4 sale1">
                <img src="../img/hr42.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    CB 02 Tech Space Grey
                    <br>
                    € 247.93
                </p>
                <div class="size1">
                    <p>可用尺寸</p>
                    <a href=""class="xianWu"> 欧盟 39</a>
                    <a href=""class="xianWu"> 欧盟 40</a>
                    <a href=""class="xianWu"> 欧盟 41</a><br>
                    <a href=""class="xianWu"> 欧盟 42</a>
                    <a href=""class="xianWu"> 欧盟 43</a>
                    <a href=""class="xianWu"> 欧盟 44</a>
                    <a href=""class="xianWu"> 欧盟 45</a>
                    <a href=""class="xianWu"> 欧盟 46</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--页脚-->
<%-include('common/footer.ejs')%>
<script src="../js/page1-bk1-2.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>