<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page1-bk1-3css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <img src="../img/hr19.jpg" class="col-lg-12">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="js">
                    介绍新的技术风格
                </h3>
                <br>
                <p class="Read">
                    探索技术和纺织品
                    <br>
                    <br>
                    三种风格以丰富的色调色彩搭配，以完美结合本季的秋冬系列，融合各种材料和结构。
                    我们将橡胶皮革，TPU和网眼相结合，塑造出现代感，恪守我们的创新设计原则。
                    <br>
                    <br>
                    LT 03，MT 02和HT 02 Tech提供Dark Maroon和Olive Green，在线免费送货，在阿姆斯特丹旗舰店。
                </p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2 bk-top">
                <img src="../img/hr20.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid bk-top" id="div2">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr21.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3 sale1">
                <img src="../img/hr22.jpg" class="LT">
                <p class="MT LT">
                    MT 02 Tech Dark Maroon
                    <br>
                    € 219.01
                </p>
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid bk-top" id="div3">
        <div class="row">
            <div class="col-lg-4 bk-1 sale1">
                <p class="Read1 LT">
                    MT 02技术干橄榄
                    <br>
                    € 219.01
                </p>
                <img src="../img/hr23.jpg">
            </div>
            <div class="col-lg-8">
                <img src="../img/hr24.jpg" class="col-lg-12" >
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid bk-top" id="div4">
        <div class="row">
            <div class="col-lg-10">
                <img src="../img/hr25.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块6-->
    <div class="container-fluid" id="div5">
        <p class="bk-top">
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买这个故事
        </p>
        <div class="row bk-top2">
            <div class="col-lg-4 sale1">
                <img src="../img/hr26.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 03 Tech Dark Maroon
                    <br>
                    € 206.61
                </p>
                <div class="size1">
                    <p>可用尺寸</p>
                    <a href=""class="xianWu"> 欧盟 39</a>
                    <a href=""class="xianWu"> 欧盟 40</a>
                    <a href=""class="xianWu"> 欧盟 41</a><br>
                    <a href=""class="xianWu"> 欧盟 42</a>
                    <a href=""class="xianWu"> 欧盟 43</a>
                    <a href=""class="xianWu"> 欧盟 44</a>
                    <a href=""class="xianWu"> 欧盟 45</a>
                    <a href=""class="xianWu"> 欧盟 46</a>
                </div>
            </div>
            <div class="col-lg-4 sale1">
                <img src="../img/hr27.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 03技术干橄榄
                    <br>
                    € 206.61
                </p>
                <div class="size1">
                    <p>可用尺寸</p>
                    <a href=""class="xianWu"> 欧盟 39</a>
                    <a href=""class="xianWu"> 欧盟 40</a>
                    <a href=""class="xianWu"> 欧盟 41</a><br>
                    <a href=""class="xianWu"> 欧盟 42</a>
                    <a href=""class="xianWu"> 欧盟 43</a>
                    <a href=""class="xianWu"> 欧盟 44</a>
                    <a href=""class="xianWu"> 欧盟 45</a>
                    <a href=""class="xianWu"> 欧盟 46</a>
                </div>
            </div>
            <div class="col-lg-4 sale1">
                <img src="../img/hr28.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    MT 02 Tech Dark Maroon
                    <br>
                    € 219.01
                </p>
                <div class="size1">
                    <p>可用尺寸</p>
                    <a href=""class="xianWu"> 欧盟 39</a>
                    <a href=""class="xianWu"> 欧盟 40</a>
                    <a href=""class="xianWu"> 欧盟 41</a><br>
                    <a href=""class="xianWu"> 欧盟 42</a>
                    <a href=""class="xianWu"> 欧盟 43</a>
                    <a href=""class="xianWu"> 欧盟 44</a>
                    <a href=""class="xianWu"> 欧盟 45</a>
                    <a href=""class="xianWu"> 欧盟 46</a>
                </div>
            </div>
        </div>
    </div>
    <!--板块7-->
    <div class="container-fluid bk-top2" id="div6">
        <div class="row">
            <div class="col-lg-4 sale1">
                <img src="../img/hr29.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    MT 02技术干橄榄
                    <br>
                    € 219.01
                </p>
                <div class="size1">
                    <p>可用尺寸</p>
                    <a href=""class="xianWu"> 欧盟 39</a>
                    <a href=""class="xianWu"> 欧盟 40</a>
                    <a href=""class="xianWu"> 欧盟 41</a><br>
                    <a href=""class="xianWu"> 欧盟 42</a>
                    <a href=""class="xianWu"> 欧盟 43</a>
                    <a href=""class="xianWu"> 欧盟 44</a>
                    <a href=""class="xianWu"> 欧盟 45</a>
                    <a href=""class="xianWu"> 欧盟 46</a>
                </div>
            </div>
            <div class="col-lg-4 sale1">
                <img src="../img/hr30.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    HT 02科技干橄榄
                    <br>
                    € 231.41
                </p>
                <div class="size1">
                    <p>可用尺寸</p>
                    <a href=""class="xianWu"> 欧盟 39</a>
                    <a href=""class="xianWu"> 欧盟 40</a>
                    <a href=""class="xianWu"> 欧盟 41</a><br>
                    <a href=""class="xianWu"> 欧盟 42</a>
                    <a href=""class="xianWu"> 欧盟 43</a>
                    <a href=""class="xianWu"> 欧盟 44</a>
                    <a href=""class="xianWu"> 欧盟 45</a>
                    <a href=""class="xianWu"> 欧盟 46</a>
                </div>
            </div>
        </div>
    </div>


</section>
<!--页尾-->
<%-include('common/footer.ejs')%>

<script src="../js/page1-kb1-3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>