<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page1-bk3-2css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr65.jpg" class="col-lg-12">
            </div>
            <div class="col-lg-6 bk-top1">
                <h2 class="js">
                    沙色绒面革
                </h2>
                <p class="Read">
                    两个冬季剪影出现在柔和色调的色调，由广泛的色彩光谱组成。 采用高级意大利绒面革制成，
                    <br>
                    切尔西靴子是经典的选择，而我们的低帮上衣则采用了新的Cupsole，更具运动感。
                    <br>
                    <br>
                    <br>
                    分享
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <h3 class="js">
                    高级意大利绒面革
                </h3>
                <p class="Read">
                    Suède这个词的意思是法国的“瑞典”，以1860年左右从瑞典进口到法国的软皮手套命名。
                    由于其奢华的绒毛饰面和柔软的手感，绒面革是通过打磨皮革的内表面而制成的。
                    我们使用的绒面革来自意大利制革厂，以制作具有独特柔软手感和完美肤色的皮革而闻名。
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid bk-top" id="div2">
        <div class="row">
            <div class="col-lg-6 bk-smtop1">
                <img src="../img/hr66.jpg" class="col-lg-8 col-lg-offset-2">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr67.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid bk-top" id="div3">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr68.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr69.jpg" class="LT">
                <p class="MT LT">
                    CB 01烟草
                    <br>
                    € 227.27
                </p>
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid" id="div4">
        <div class="row">
            <div class="col-lg-7">
                <h3 class="js">
                    经典绉纱鞋底
                </h3>
                <p class="Read">
                    我们着名的切尔西靴具有所有经典特征，如弹性侧板，圆形鼻子和完美的脚踝高度。
                    为了保持其真实的外观和精致的外观，Crepe橡胶外底缝制在绒面革鞋面上。
                    术语Crepe用于描述形成有纹理的柔性外底的天然橡胶片。
                    不含任何化学添加剂，我们确保纯净，生态来源的绉纱。
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid bk-top" id="div5">
        <div class="row">
            <div class="col-lg-8">
                <img src="../img/hr70.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr71.jpg" class="LT">
                <p class="MT LT">
                    LT 01棕褐色
                    <br>
                    € 206.61
                </p>
            </div>
        </div>
    </div>
    <!--板块6-->
    <div class="container-fluid bk-top" id="div6">
        <div class="row">
            <div class="col-lg-3 bk-1">
                <p class="Read1 LT">
                    LT 01 Cedar
                    <br>
                    € 206.61
                </p>
                <img src="../img/hr72.jpg">
            </div>
            <div class="col-lg-9">
                <img src="../img/hr73.jpg" class="col-lg-12" >
            </div>
        </div>
    </div>
    <!--板块7-->
    <div class="container-fluid" id="div7">
        <div class="row">
            <div class="col-lg-7">
                <h3 class="js">
                    无与伦比的橡胶Cupsole
                </h3>
                <p class="Read">
                    我们创造的第一个外底让我们回想起我们的网球传统：Cupsole。
                    作为球场上的冠军，橡胶鞋底的建造是为了在比赛中提供支撑和稳定性。
                    Cupsole由一块橡胶制成，粘在中底上，另外缝在鞋子里; 从字面上看，你的脚底是杯子。
                    这一季的色调变化是对Cupsole的俏皮感，采用分层美学设计。
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <!--板块8-->
    <div class="container-fluid bk-top" id="div8">
        <div class="row">
            <div class="col-lg-6 bk-smtop1">
                <img src="../img/hr74.jpg" class="col-lg-8 col-lg-offset-2">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr75.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块8-->
    <div class="container-fluid" id="div9">
        <div class="row bk-top">
            <p class="bk-top">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买这个故事
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="../img/hr76.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    CB 01灰
                    <br>
                    € 227.27
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr77.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    CB 01干邑
                    <br>
                    € 227.27
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr78.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    CB 01烟草
                    <br>
                    € 227.27
                </p>
            </div>
        </div>
    </div>
    <!--板块9-->
    <div class="container-fluid bk-top" id="div10">
        <div class="row">
            <div class="col-lg-4">
                <img src="../img/hr79.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01 Cedar
                    <br>
                    € 206.61
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr80.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01 Sand Men
                    <br>
                    € 206.61
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr81.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01棕褐色
                    <br>
                    € 206.61
                </p>
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/page2-bk4-3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>