<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/page2-bk4-3.css">
    <link rel="stylesheet" href="../css/pages-img.css">
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk4-8.jpg" alt="" style="height: 1000px">
            </div>
            <div class="col-lg-6">
                <p class="title" style="padding-top: 100px">
                    季节的形状
                </p>
                <p class="Read">
                    2018年春夏，我们推出了六款女性鞋类款式，重点是对比色，单色调和大比例。春季<br>
                    的庆祝活动，由第一次出现的鲜花定义，带来欢迎提醒我们前方的阳光灿烂的日子。
                </p>
                <p class="Read">
                    SS18产品将我们的核心机型之一重新用于优雅外观，采用柔和的色调和对比色彩，并 <br>
                    采用堆叠凸起的Cone外底。我们的Low 1有两种款式，采用新的设计元素，如正绒面 <br>
                    革皮革侧面板和重要的缝线，营造出简约而出众的外观。全部采用精密，护理和最高 <br>
                    品质的工艺制造而成。 <br>
                </p>
                <p class="Read">
                    为了捕捉我们最新女性的新鲜现代美学，我们与阿姆斯特丹的摄影师Wayta Patmo合 <br>
                    作。该系列剧由AMFI个人发表声明作品，旨在引导新一季的令人振奋的情绪。
                </p>
                <p class="Read">
                    Low 1 Single Rope将在白色，水泥和绿松石的网上和店内以及密集蓝色，橙色锈色和 <br>
                    软灰褐色的Low 1 Stacked Tonal中提供。
                </p>
                <p class="Read">
                    <a href="" class="xianWu">分享</a>
                </p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div2">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-1">
                <p class="Read">
                    low1灰褐色
                    €99.17
                </p>
            </div>
            <div class="col-lg-1">
                <img src="../img/wzlpage2-bk4-9.jpg" alt="" >
            </div>
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk4-10.jpg" alt="" style="height: 1200px">
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid" id="div3">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk4-11.jpg" alt="" style="height: 1200px">
            </div>
            <div class="col-lg-1">
                <img src="../img/wzlpage2-bk4-12.jpg" alt="">
            </div>
            <div class="col-lg-2">
                <p class="Read">
                    low1 单绳松绿色 <br>
                    €99.17
                </p>
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid" id="div4">
        <div class="row">
            <div class="col-lg-offset-6 col-lg-6">
                <img src="../img/wzlpage2-bk4-13.jpg" alt="" style="height: 1200px">
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid" id="div5">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk4-14.jpg" alt="" style="height: 1200px">
            </div>
            <div class="col-lg-1">
                <img src="../img/wzlpage2-bk4-15.jpg" alt="">
            </div>
            <div class="col-lg-2">
                <p class="Read">
                    low 单绳水泥色 <br>
                    €99.17
                </p>
            </div>
        </div>
    </div>
    <!--板块6-->
    <div class="container-fluid" id="div6">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-1">
                <p class="Read">
                    low橙锈色 <br>
                    €99.17
                </p>
            </div>
            <div class="col-lg-1">
                <img src="../img/wzlpage2-bk4-16.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk4-17.jpg" alt="" style="height: 1200px">
            </div>
        </div>
    </div>
    <!--板块7-->
    <div class="container-fluid" id="div7">
        <div class="row">
            <div class="col-lg-12">
                <p class="Read1">
                    购买这个故事
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 sale1">
                    <img src="../img/wzlpage2-bk4-18.jpg" alt="" style="height: 600px">
                    <p class="fontJianjie1">
                        low 橙锈
                        <br>
                        € 99.17
                    </p>
                    <div class="size1">
                        <p>可用尺寸</p>
                        <a href=""class="xianWu"> 欧盟 39</a>
                        <a href=""class="xianWu"> 欧盟 40</a>
                        <a href=""class="xianWu"> 欧盟 41</a><br>
                        <a href=""class="xianWu"> 欧盟 42</a>
                        <a href=""class="xianWu"> 欧盟 43</a>
                        <a href=""class="xianWu"> 欧盟 44</a>
                        <a href=""class="xianWu"> 欧盟 45</a>
                        <a href=""class="xianWu"> 欧盟 46</a>
                    </div>
                </div>
                <div class="col-lg-4 sale1">
                    <img src="../img/wzlpage2-bk4-19.jpg" alt="" style="height: 600px">
                    <p class="fontJianjie1">
                        low 密集蓝色
                        <br>
                        € 99.17
                    </p>
                    <div class="size1">
                        <p>可用尺寸</p>
                        <a href=""class="xianWu"> 欧盟 39</a>
                        <a href=""class="xianWu"> 欧盟 40</a>
                        <a href=""class="xianWu"> 欧盟 41</a><br>
                        <a href=""class="xianWu"> 欧盟 42</a>
                        <a href=""class="xianWu"> 欧盟 43</a>
                        <a href=""class="xianWu"> 欧盟 44</a>
                        <a href=""class="xianWu"> 欧盟 45</a>
                        <a href=""class="xianWu"> 欧盟 46</a>
                    </div>
                </div>
                <div class="col-lg-4 sale1">
                    <img src="../img/wzlpage2-bk4-20.jpg" alt=""style="height: 600px">
                    <p class="fontJianjie1">
                        low 软灰褐色
                        <br>
                        € 206.61
                    </p>
                    <div class="size1">
                        <p>可用尺寸</p>
                        <a href=""class="xianWu"> 欧盟 39</a>
                        <a href=""class="xianWu"> 欧盟 40</a>
                        <a href=""class="xianWu"> 欧盟 41</a><br>
                        <a href=""class="xianWu"> 欧盟 42</a>
                        <a href=""class="xianWu"> 欧盟 43</a>
                        <a href=""class="xianWu"> 欧盟 44</a>
                        <a href=""class="xianWu"> 欧盟 45</a>
                        <a href=""class="xianWu"> 欧盟 46</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--板块7-->
    <div class="container-fluid" id="div9">
        <div class="row">
            <div class="row">
                <div class="col-lg-4 sale1">
                    <img src="../img/wzlpage2-bk4-21.jpg" alt="" style="height: 600px">
                    <p class="fontJianjie1">
                        low 单绳水泥色
                        <br>
                        € 99.17
                    </p>
                    <div class="size1">
                        <p>可用尺寸</p>
                        <a href=""class="xianWu"> 欧盟 39</a>
                        <a href=""class="xianWu"> 欧盟 40</a>
                        <a href=""class="xianWu"> 欧盟 41</a><br>
                        <a href=""class="xianWu"> 欧盟 42</a>
                        <a href=""class="xianWu"> 欧盟 43</a>
                        <a href=""class="xianWu"> 欧盟 44</a>
                        <a href=""class="xianWu"> 欧盟 45</a>
                        <a href=""class="xianWu"> 欧盟 46</a>
                    </div>
                </div>
                <div class="col-lg-4 sale1">
                    <img src="../img/wzlpage2-bk4-22.jpg" alt="" style="height: 600px">
                    <p class="fontJianjie1">
                        low 单绳绿松石
                        <br>
                        € 99.17
                    </p>
                    <div class="size1">
                        <p>可用尺寸</p>
                        <a href=""class="xianWu"> 欧盟 39</a>
                        <a href=""class="xianWu"> 欧盟 40</a>
                        <a href=""class="xianWu"> 欧盟 41</a><br>
                        <a href=""class="xianWu"> 欧盟 42</a>
                        <a href=""class="xianWu"> 欧盟 43</a>
                        <a href=""class="xianWu"> 欧盟 44</a>
                        <a href=""class="xianWu"> 欧盟 45</a>
                        <a href=""class="xianWu"> 欧盟 46</a>
                    </div>
                </div>
                <div class="col-lg-4 sale1">
                    <img src="../img/wzlpage2-bk4-23.jpg" alt=""style="height: 600px">
                    <p class="fontJianjie1">
                        low 单绳白色
                        <br>
                        € 99.17
                    </p>
                    <div class="size1">
                        <p>可用尺寸</p>
                        <a href=""class="xianWu"> 欧盟 39</a>
                        <a href=""class="xianWu"> 欧盟 40</a>
                        <a href=""class="xianWu"> 欧盟 41</a><br>
                        <a href=""class="xianWu"> 欧盟 42</a>
                        <a href=""class="xianWu"> 欧盟 43</a>
                        <a href=""class="xianWu"> 欧盟 44</a>
                        <a href=""class="xianWu"> 欧盟 45</a>
                        <a href=""class="xianWu"> 欧盟 46</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/page2-bk4-3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>