<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page1-bk4-2css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr109.jpg" class="col-lg-12">
            </div>
            <div class="col-lg-5 bk-top1">
                <h2 class="js">
                    从脚趾向上：女式系带靴
                </h2>
                <p class="Read">
                    我们的第一款女性系带靴子恰逢其时，适合仲夏和所有夏季的场合。
                    <br>
                    <br>
                    这款踝靴的档案设计在70年代风靡一时，当时女性拥抱其轻松，实用的外观。
                    我们保持其经典风格，色调黑色调和略微粗犷的鞋底，而其时尚的设计增添了一定的优雅。
                    <br>
                    <br>
                    设计用作永恒和多功能的短片，靴子将成为我们系列的永久组成部分 - 持续超越季节。
                    有两种款式可供选择，采用全粒面小牛皮制成，配以黑色金属孔眼，高光泽polido皮革，银色金属孔眼。
                    <br>
                    <br>
                    <br>
                </p>
                <p class="Read">分享</p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid bk-top" id="div1">
        <div class="row">
            <div class="col-lg-3 col-md-offset-3">
                <p class="MT LT">
                    LB 01粒黑色
                    <br>
                    € 202.48
                </p>
                <img src="../img/hr110.jpg" class="LT">

            </div>
            <div class="col-lg-6">
                <img src="../img/hr111.jpg" class="col-lg-12" >
            </div>

        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid bk-top" id="div2">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr112.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr113.jpg" class="LT">
                <p class="MT1 LT">
                    LB 01粒黑色
                    <br>
                    € 202.48
                </p>
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid bk-top" id="div3">
        <div class="row">
            <div class="col-lg-3 col-md-offset-3">
                <p class="MT2 LT">
                    LB 01 Black Polido
                    <br>
                    € 210.74
                </p>
                <img src="../img/hr114.jpg" class="LT">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr115.jpg" class="col-lg-12" >
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid bk-bot" id="div4">
        <div class="row bk-top">
            <p class="bk-top">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买这个故事
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="../img/hr116.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LB 01粒黑色
                    <br>
                    € 202.48
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr117.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LB 01 Black Polido
                    <br>
                    € 210.74
                </p>
            </div>
        </div>
    </div>




</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/page2-bk4-3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>