<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page1-bk4-1css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr88.jpg" class="col-lg-12">
            </div>
            <div class="col-lg-5 bk-top1">
                <h2 class="js">
                    冬季更新：针织
                </h2>
                <p class="Read">
                    <br>
                    上一季，我们开始设计一种运动鞋设计，鞋面不是由皮革制成，而是由一件针织材料制成。
                    在成功使用轻质夏季短纤维后，我们通过添加Primaloft® 隔热材料  来重新设计设计，以获得温暖和舒适。
                    结果：以三种颜色重新设计，展示  了我们对巧妙材料的天赋。
                    <br>
                    <br>
                    <br>
                </p>
                <p class="Read">分享</p>
                <div class="row">
                    <div class="bk-smtop bk-btop">
                        <img src="../img/hr89.jpg" class="LT">
                        <p class="MT LT">
                            LT 01针织沥青
                            <br>
                            € 202.48
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="bk-smtop">
                        <img src="../img/hr90.jpg" class="LT">
                        <p class="MT LT">
                            LT 01针织Microchip
                            <br>
                            € 202.48
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="bk-smtop">
                        <img src="../img/hr91.jpg" class="LT">
                        <p class="MT LT">
                            LT 01针织黑色
                            <br>
                            € 202.48
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-4">
                <p class="Read1">
                    一件，少浪费
                    为了达到所需的细节水平，每一对都是
                    由单件熔融纱线机织而成。结果是
                    简约的设计，没有过多的面板，在同一个
                    时间符合我们的可持续设计标准; 不行
                    休息材料背后。
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid bk-top" id="div2">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr92.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr93.jpg" class="LT">
                <p class="MT LT">
                    DS 02 Tech Space Grey
                    <br>
                    € 223.14
                </p>
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid bk-top" id="div3">
        <div class="row">
            <div class="col-lg-6 bk-smtop1">
                <img src="../img/hr94.jpg" class="col-lg-8 col-lg-offset-2">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr95.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid bk-top" id="div4">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr96.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr97.jpg" class="LT">
                <p class="MT LT">
                    LT 01针织黑色
                    <br>
                    € 202.48
                </p>
            </div>
        </div>
    </div>
    <!--板块6-->
    <div class="container-fluid bk-top" id="div5">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr98.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-6">
                <img src="../img/hr99.jpg" class="LT">
                <p class="MT LT">
                    LT 01针织黑色
                    <br>
                    € 202.48
                </p>
            </div>
        </div>
    </div>
    <!--板块7-->
    <div class="container-fluid bk-top" id="div6">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-3">
                <p>PrimaLoft®绝缘材料</p>
                <p class="Read2">
                    PrimaLoft®在80年代为美国军队开发，被用作鹅绒的替代品，用于填充军服和睡袋。
                    除了在重量，保暖性和密度方面具有无与伦比的品质外，Primaloft®在潮湿或潮湿时仍保持其性能。
                    在我们的针织款式设计中，微纤维作为压缩层安装在针织和皮革衬里之间，提供舒适性和灵活性。
                </p>
                <div class="bk-smtop2">
                    <p class="MT LT">
                        LT 01针织沥青
                        <br>
                        € 202.48
                    </p>
                    <img src="../img/hr100.jpg" class="LT">
                </div>

            </div>
            <div class="col-lg-6">
                <img src="../img/hr101.jpg" class="col-lg-12" >
            </div>
        </div>
    </div>
    <!--板块8-->
    <div class="container-fluid bk-top" id="div7">
        <div class="row">
            <div class="col-lg-8">
                <img src="../img/hr102.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-4">
                <img src="../img/hr103.jpg" class="LT">
                <p class="MT LT">
                    LT 01针织沥青
                    <br>
                    € 202.48
                </p>
            </div>
        </div>
    </div>
    <!--板块9-->
    <div class="container-fluid bk-top" id="div8">
        <div class="row">
            <div class="col-lg-6 bk-smtop1">
                <img src="../img/hr104.jpg" class="col-lg-8 col-lg-offset-2">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr105.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块10-->
    <div class="container-fluid" id="div9">
        <div class="row bk-top">
            <p class="bk-top">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买这个故事
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="../img/hr106.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01针织沥青
                    <br>
                    € 202.48
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr107.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01针织Microchip
                    <br>
                    € 202.48
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr108.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01针织黑色
                    <br>
                    € 202.48
                </p>
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/page2-bk4-3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>