<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/page2-bk3-1.css">
    <link rel="stylesheet" href="../css/pages-img.css">

</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk3-1.jpg" alt="" class="col-lg-12">
            </div>
            <div class="col-lg-6">
                <p class="title" style="padding-top: 100px">弹簧准备Sonic</p>
                <p class="Read">通过我们的Sonic的三个新版本，我们探索线条和颜色。到达白沙，深灰褐色和老桃， <br>
                    这些柔软的跑步者将让你的心脏比赛。
                </p>
                <p class="Read">
                    作为奢侈品的缩影，Sonic采用现代造型，并采用橡胶皮革制成的覆层。其他材料包括 <br>
                    网眼，氯丁橡胶和正绒面革。 鞋垫采用皮革涂层记忆海绵制成，一季又一季提供最大 <br>
                    的舒适度和坚固的支架。
                </p>
                <p class="Read">
                    所有三种颜色都可以在线或在阿姆斯特丹的etq商店购买。
                </p>
                <p class="Read"><a href="" class="xianWu">分享</a></p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div2">
        <div class="row">
            <div class="col-lg-offset-6 col-lg-6">
                <img src="../img/wzlpage2-bk3-2.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid" id="div3">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk3-3.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid" id="div4">
        <div class="row">
            <div class="col-lg-offset-6 col-lg-6">
                <img src="../img/wzlpage2-bk3-4.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/page2-bk3-1.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>