<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/page2-bk4-2.css">
    <link rel="stylesheet" href="../css/pages-img.css">
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk4-4.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <p class="title" style="padding-top: 100px">
                    到海边
                </p>
                <p class="Read">
                    深入土壤，准备挑战北海风。凭借本赛季的Low 3车型和High 2车型，我们引领了一 <br>
                    场轰动一时的氛围。
                </p>
                <p class="Read">
                    海洋对荷兰景观产生了沉重的影响，其中三分之一位于海平面以下。毋庸置疑，我们 <br>
                    的沙丘，堤坝和海滩是我们的重要基础。因为它们保护我们免受海浪的影响，并提供 <br>
                    美丽的荷兰风景。
                </p>
                <p class="Read">
                    Ash，Biscuit和Timber中的Low 3以及本季的Low 3和High 2的水泥版本是Bergen  <br>
                    aan Zee编辑拍摄的焦点。混合材料鞋面采用朴实的色调，完美匹配荷兰海岸的环境。
                </p>
                <p class="Read">
                    这些男士剪影是本季最新款的一部分，截至目前在网上和商店都可以买到。
                </p>
                <p class="Read">
                    <a href="" class="xianWu">分享</a>
                </p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-offset-6 col-lg-6">
                <img src="../img/wzlpage2-bk4-5.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid" id="div2">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk4-6.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid" id="div3">
        <div class="row">
            <div class="col-lg-offset-6 col-lg-6">
                <img src="../img/wzlpage2-bk4-7.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/page2-bk4-2.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>