<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/page2-bk2-3.css">
    <link rel="stylesheet" href="../css/pages-img.css">
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-28.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <p class="title" style="padding-top: 100px">认识我们的Sonic</p>
                <p class="Read"style="padding-top: 50px">
                    我们相信伟大的设计是关于消除噪音，安静地站出来。我们的Sonic体现了从鞋面到鞋 <br>
                    底的这一理念，因为每个元素都经过深思熟虑并支持整体设计。穿着低调的黑色，白 <br>
                    色和灰色。
                </p>
                <p class="Read">
                    <a href="" class="xianWu">分享</a>
                </p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div2">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-29.jpg" alt="">
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid" id="div3">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-3">
                <p class="Read" style="padding-top: 500px">
                    从单一起来
                </p>
                <p class="Read">
                    我们的Sonic风格的一个关键原则是笨重的橡胶 <br>
                    外底。其革命性的设计源于Vibram的创新思 <br>
                    维，他们开发出最高品质的耐用橡胶鞋底。为 <br>
                    了保持双脚干燥至核心，同时处理元素，每个 <br>
                    Vibram外底都可以防水和防尘。 <br>
                </p>
            </div>
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-30.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid" id="div4">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-31.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid" id="div5">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <img src="../img/wzlpage2-bk2-32.jpg" alt="">
            </div>
        </div>
    </div>
    <!--模块6-->
    <div class="container-fluid" id="div6">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-33.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/page2-bk2-3.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/nav.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script></body>
</html>