<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page1-bk3-3css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr82.jpg" class="col-lg-12">
            </div>
            <div class="col-lg-5 bk-top1">
                <h2 class="js">
                    关于材料：原始绝对羊毛
                </h2>
                <p class="Read">
                    <br>
                    本季根植于耐用材料的使用。
                    除了专注于我们的主要材料的开发，我们还检查了替代织物，如原始绝对羊毛（RAW）。
                    这种柔软的材料由单件纯净的未加工羊毛毡制成。
                    允许材料保持其自然特征，同时显示最小的形式。
                    <br>
                    <br>
                    <br>
                </p>
                <p class="Read">分享</p>
                <div class="bk-smtop">
                    <img src="../img/hr83.jpg" class="LT">
                    <p class="MT LT">
                        LT 01羊毛游牧民族
                        <br>
                        € 206.61
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div2">
        <div class="row">
            <div class="col-lg-4">
                <p class="Read1">
                    RAW是一种舒适的材料的完美例子，
                    功能和可持续性同时。透气和
                    吸湿，防水防污，不含水分
                    化学品和着色。
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid bk-top" id="div3">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <img src="../img/hr84.jpg">
            </div>

        </div>

    </div>
    <!--板块4-->
    <div class="container-fluid" id="div4">
        <div class="row">
            <div class="col-lg-4">
                <p class="Read1">
                    由于天然羊毛纤维调节温度，我们的羊毛
                    毛毡剪影不仅可以在冬季穿着，也可以在穿着期间穿着
                    温暖的月份。坚持我们设计的每个方面
                    哲学。
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid bk-top" id="div5">
        <div class="row">
            <div class="col-lg-6 bk-smtop1">
                <img src="../img/hr85.jpg" class="col-lg-8 col-lg-offset-2">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr86.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块6-->
    <div class="container-fluid bk-top" id="div6">
        <div class="row">
            <p>
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买这个故事
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="../img/hr87.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01羊毛游牧民族
                    <br>
                    € 206.61
                </p>
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/page2-bk4-3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>