<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page4css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div>
        <div class="container-fluid">
            <div class="row">
                <!--板块1左-->
                <div class="col-lg-6">
                    <img src="../img/wangzi13.jpg" class="col-lg-12">
                </div>
                <!--板块1右-->
                <div class="col-lg-6 row">
                    <p class="Free">
                        介绍2017年秋季/冬季ETQ第一章
                    </p>
                    <div class="col-lg-12 div-top9">
                        <a class="Read xianWu">
                            读故事
                        </a>
                    </div>
                    <img src="../img/wangzi16.jpg" class="col-lg-6 img-div1">
                    <img src="../img/wangzi15.jpg"  class="col-lg-6 img-div1">
                    <!--图下文字-->
                    <div class="col-lg-12 row">
                        <!--左-->
                        <p class="col-lg-5 fontJianjie1 img-div2">
                            ETQ FW16 by Curtis Jehsta
                            <br>
                            Curtis Jehsta的单色社论......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                        <!--右-->
                        <p class="col-lg-6 col-lg-offset-1  fontJianjie2 img-div2">
                            ETQ FW16 Drop 2 Look book
                            <br>
                            期待已久的ETQ第二次下跌是在。
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="div-pd1">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <!--小板块1-->
                    <div class="col-lg-4" id="div1">
                        <img src="../img/hurui4.jpg" class="col-lg-7">
                        <p class="col-lg-5 fontJianjie3">
                            适合家居的小型设计用品
                            <br>
                            慢下来，慢慢来，探索我们的选择......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                    <!--小板块2-->
                    <div class="col-lg-4" id="div2">
                        <img src="../img/hurui5.jpg" class="col-lg-7">
                        <p class="col-lg-5 fontJianjie3">
                            Ystudio的重量
                            <br>
                            当你想要时要考虑的标签之一......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                    <!--小板块3-->
                    <div class="col-lg-4" id="div3">
                        <img src="../img/hurui6.jpg" class="col-lg-7">
                        <p class="col-lg-5 fontJianjie3">
                            假日编辑
                            <br>
                            随着假期的到来，没有更好的时刻......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 50px">
        <div class="row">
            <ul class="col-lg-offset-5 col-lg-2">
                <li><a href="/page3" id="a1" class="xianWu"> < </a></li>
                <li><a href="/page1" class="xianWu">1</a></li>
                <li><a href="/page2" class="xianWu">2</a></li>
                <li><a href="/page3" class="xianWu">3</a></li>
                <li><a href="/page4" id="a2" class="xianWu">4</a></li>
            </ul>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/page4.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>