<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page1-bk4-3css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr118.jpg" class="col-lg-12">
            </div>
            <div class="col-lg-5 bk-top1">
                <h2 class="js">
                    FW18预览 - PT01
                </h2>
                <p class="Read">
                    今年秋天会发生什么
                </p>
                <p class="Read">
                    <br>
                    对于2018秋冬，我们坚持持久设计的核心原则，并提供新发明和更新的轮廓，
                    提供价值。旨在响应我们的环境，专注于耐用材料和技术特性的开发。
                    <br>
                    <br>
                </p>
                <p class="Read">分享</p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid bk-top2" id="div1">
        <div class="row">
            <div class="col-lg-6 ">
                <p class="Read1">
                    未来几个月，我们将发布用于制作的主食
                    熟悉的Nubuck和Nappa皮革，交替使用
                    当代材料，如Ballistic Cordura，技术针织品
                    和原始绝对羊毛（RAW）。定义一种新的奢侈形式
                    通过精心设计的产品，真正推动边界，
                    没有放弃风格。
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid bk-top2" id="div2">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr119.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr120.jpg" class="LT">
                <p class="MT LT">
                    CB 01烟草
                    <br>
                    € 227.27
                </p>
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid bk-top" id="div3">
        <div class="row">
            <div class="col-lg-6 bk-smtop1">
                <img src="../img/hr121.jpg" class="col-lg-8 col-lg-offset-2">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr122.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid bk-top" id="div4">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr123.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr124.jpg" class="LT">
                <p class="MT LT">
                    LT 01 Sand Men
                    <br>
                    € 206.61
                </p>
            </div>
        </div>
    </div>
    <!--板块6-->
    <div class="container-fluid bk-top" id="div5">
        <div class="row">
            <div class="col-lg-6 bk-smtop1">
                <img src="../img/hr125.jpg" class="col-lg-8 col-lg-offset-2">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr126.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块7-->
    <div class="container-fluid bk-top" id="div6">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/hr127.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr128.jpg" class="LT">
                <p class="MT LT">
                    CB 01灰
                    <br>
                    € 227.27
                </p>
            </div>
        </div>
    </div>
    <!--板块8-->
    <div class="container-fluid bk-top" id="div7">
        <div class="row">
            <div class="col-lg-6 bk-smtop1">
                <img src="../img/hr129.jpg" class="col-lg-8 col-lg-offset-2">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr130.jpg" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块9-->
    <div class="container-fluid bk-top" id="div8">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr131.jpg" class="col-lg-12" >
            </div>
            <div class="col-lg-3">
                <img src="../img/hr132.jpg" class="LT">
                <p class="MT LT">
                    LT 01 Cedar
                    <br>
                    € 206.61
                </p>
            </div>
        </div>
    </div>
    <!--板块10-->
    <div class="container-fluid bk-top" id="div9">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-3">
                <p class="MT2 LT">
                    CB 01灰
                    <br>
                    € 227.27
                </p>
                <img src="../img/hr133.jpg" class="LT">
            </div>
            <div class="col-lg-6">
                <img src="../img/hr134.jpg" class="col-lg-12" >
            </div>

        </div>
    </div>
    <!--板块11-->
    <div class="container-fluid  bk-top" id="div10">
        <div class="row">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买这个故事
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="../img/hr135.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01棕褐色
                    <br>
                    € 206.61
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr136.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01 Sand Men
                    <br>
                    € 206.61
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr137.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 05陆军赤霞珠红
                    <br>
                    € 214.88
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <img src="../img/hr138.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 05陆军午夜蓝
                    <br>
                    € 214.88
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr139.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 05陆军赛车绿色
                    <br>
                    € 214.88
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr140.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    CB 01灰
                    <br>
                    € 227.27
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <img src="../img/hr141.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    CB 01黑色
                    <br>
                    € 214.88
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr142.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    CB 01干邑
                    <br>
                    € 227.27
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr143.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    CB 01烟草
                    <br>
                    € 227.27
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid bk-bot">
        <div class="row">
            <div class="col-lg-4">
                <img src="../img/hr144.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01针织沥青
                    <br>
                    € 202.48
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr145.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01针织Microchip
                    <br>
                    € 202.48
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../img/hr146.jpg" class="col-lg-12">
                <p class="fontJianjie1">
                    LT 01针织黑色
                    <br>
                    € 202.48
                </p>
            </div>
        </div>
    </div>




</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/page2-bk4-3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>