<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page2-bk1-3.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section id="s1">
    <!--板块1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/wzlpage2-bk1-21.jpg" alt=""  class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-7 Read">
                <p class="title">精华特别</p>
                <p style="padding-top: 35px " class="Read">ETQ独家提供</p>
                <p style="padding-top: 35px" class="Read">
                    我们推出了三种标志性色彩中经典的低帮正面低帮：Anthracite，Forest <br>
                    Green和Maroon。此版本是我们Essence系列的一部分，仅在ETQ上提 <br>
                    供。通过全球免费送货或在阿姆斯特丹的旗舰店在线查找所有三种产品。 <br>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="div2">
        <div class="row">
            <div class="col-lg-12">
                <p class="Read1">
                    购买这个故事
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 sale1">
                    <img src="../img/wzlpage2-bk1-22.jpg" alt="" class="col-lg-12">
                    <p class="fontJianjie1">
                        LT 01 无烟煤
                        <br>
                        € 194.21
                    </p>
                    <div class="size1">
                        <p>可用尺寸</p>
                        <a href=""class="xianWu"> 欧盟 39</a>
                        <a href=""class="xianWu"> 欧盟 40</a>
                        <a href=""class="xianWu"> 欧盟 41</a><br>
                        <a href=""class="xianWu"> 欧盟 42</a>
                        <a href=""class="xianWu"> 欧盟 43</a>
                        <a href=""class="xianWu"> 欧盟 44</a>
                        <a href=""class="xianWu"> 欧盟 45</a>
                        <a href=""class="xianWu"> 欧盟 46</a>
                    </div>
                </div>
                <div class="col-lg-4 sale1">
                    <img src="../img/wzlpage2-bk1-23.jpg" alt="" class="col-lg-12">
                    <p class="fontJianjie1">
                        LT 01 森林绿
                        <br>
                        € 194.21
                    </p>
                    <div class="size1">
                        <p>可用尺寸</p>
                        <a href=""class="xianWu"> 欧盟 39</a>
                        <a href=""class="xianWu"> 欧盟 40</a>
                        <a href=""class="xianWu"> 欧盟 41</a><br>
                        <a href=""class="xianWu"> 欧盟 42</a>
                        <a href=""class="xianWu"> 欧盟 43</a>
                        <a href=""class="xianWu"> 欧盟 44</a>
                        <a href=""class="xianWu"> 欧盟 45</a>
                        <a href=""class="xianWu"> 欧盟 46</a>
                    </div>
                </div>
                <div class="col-lg-4 sale1">
                    <img src="../img/wzlpage2-bk1-24.jpg" alt=""class="col-lg-12">
                    <p class="fontJianjie1">
                        LT 01 Maroon
                        <br>
                        € 194.21
                    </p>
                    <div class="size1">
                        <p>可用尺寸</p>
                        <a href=""class="xianWu"> 欧盟 39</a>
                        <a href=""class="xianWu"> 欧盟 40</a>
                        <a href=""class="xianWu"> 欧盟 41</a><br>
                        <a href=""class="xianWu"> 欧盟 42</a>
                        <a href=""class="xianWu"> 欧盟 43</a>
                        <a href=""class="xianWu"> 欧盟 44</a>
                        <a href=""class="xianWu"> 欧盟 45</a>
                        <a href=""class="xianWu"> 欧盟 46</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/page2-bk1-3.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>