<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page1-bk2-3css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/hr55.jpg" class="col-lg-12">
            </div>
            <div class="col-lg-5 bk-top2">
                <h2 class="js">
                    新的轻量级经典
                </h2>
                <br>
                <p class="Read">
                    为我们的系列呈现新的主打，简约的轮廓设计，Nappa皮革和我们的经典Cupsole。
                    海洋风格的色调代表着海军制服的永恒性，航海色调与清爽的白色鞋底形成鲜明对比。
                    作为我们更轻盈的轮廓之一，低顶部可以轻松穿过所有季节。
                    <br>
                    <br>
                    提供Glacier Grey，Dark Teal和Sea Blue，在线免费全球购物或在我们位于阿姆斯特丹的商店。
                    <br>
                    <br>
                    <br>
                    分享
                </p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid bk-top" id="div1">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <img src="../img/hr56.jpg" class="col-lg-12" >
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid bk-top"id="div2">
        <div class="row">
            <div class="col-lg-10">
                <img src="../img/hr57.jpg" class="col-lg-12" >
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid bk-top"id="div3">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <img src="../img/hr58.jpg" class="col-lg-12" >
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid bk-top" id="div4">
        <div class="row">
            <div class="col-lg-10">
                <img src="../img/hr59.jpg" class="col-lg-12" >
            </div>
        </div>
    </div>


</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/page2-bk1-1.js"></script>
<script src="../js/page3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>