<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/page2-bk3-2.css">
    <link rel="stylesheet" href="../css/pages-img.css">
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk3-5.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <p class="title" style="padding-top: 100px">
                    通过消除创造
                </p>
                <p class="Read">
                    LT 05 Perforated在其简洁性方面脱颖而出。采用简洁的干净框架，色调调色板和切 <br>
                    割图案与鞋面相得益彰。
                </p>
                <p class="Read">
                    由于使用较少的元素来创建此模型，因此每个值得注意的设计元素都会显示出来。鞋 <br>
                    子的上部饰有重点。从一件全粒面皮革切割而来，外来元素被遗弃，有利于低调，简 <br>
                    约的外观。
                </p>
                <p class="Read">
                    Low 5的皮革鞋面采用小孔，形成对称图案。为了发展其重要的鞋面，我们密切关注今 <br>
                    天的技术而不忽视昨天的传统。
                </p>
                <p class="Read">
                    <a href="" class="xianWu">分享</a>
                </p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div2">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <img src="../img/wzlpage2-bk3-6.jpg" alt="" >
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid" id="div3">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk3-7.jpg" alt="">
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid" id="div4">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <img src="../img/wzlpage2-bk3-8.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/page2-bk3-2.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>