<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/page2-bk3-3.css">
    <link rel="stylesheet" href="../css/pages-img.css">
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk3-9.jpg" alt="" class="col-lg-12">
            </div>
            <div class="col-lg-6">
                <p class="title" style="padding-top: 100px">
                    了解我们的针织衫
                </p>
                <p class="Read">
                    我们的Low 1的设计自首次亮相以来经过调整和改进。这款标志性车型彰显全新外观， <br>
                    重回2018春夏系列的最前沿。
                </p>
                <p class="Read">
                    质地，材料和耐用性的考虑在我们的针织低1的开发中发挥了关键作用。鞋面和镶板细 <br>
                    节由一件针织材料制成，将材料浪费降至最低。为了完成这种风格，我们重新推出了 <br>
                    TPU Court鞋底，这次是灰色的底部。
                </p>
                <p class="Read">
                    由于鞋面具有轻盈透气的特性，这款针织面料可以为温暖的月份提供舒适的选择。在<br>
                    网上和店内购买我们的针织Low 1 in Grey Melange，Sand Melange和Rose <br>
                    Melange，供男士和女士使用。
                </p>
                <p class="Read">
                    <a href="" class="xianWu">分享</a>
                </p>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div2">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <img src="../img/wzlpage2-bk3-10.jpg" alt="" >
            </div>
        </div>
    </div>
    <!--模块3-->
    <div class="container-fluid" id="div3">
        <div class="row">
            <div class="col-lg-offset-6 col-lg-6">
                <img src="../img/wzlpage2-bk3-11.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid" id="div4">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk3-12.jpg" alt="">
            </div>
        </div>
    </div>
    <!--板块5-->
    <div class="container-fluid" id="div5">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk3-13.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块6-->
    <div class="container-fluid" id="div6">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <img src="../img/wzlpage2-bk3-14.jpg" alt="">
            </div>
        </div>
    </div>
    <!--板块7-->
    <div class="container-fluid" id="div7">
        <div class="row">
            <div class="col-lg-offset-6 col-lg-6">
                <img src="../img/wzlpage2-bk3-15.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/page2-bk3-3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>