<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page2-bk1-2.css">
    <link rel="stylesheet" href="../css/button.css">

    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--/*板块1*/-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk1-17.jpg" alt="" style="height: 950px" class="col-lg-12">
            </div>
            <div class="col-lg-offset-1 col-lg-5 glass">
                <p class="title">ETQ x VIU 3D印花太阳镜</p>
                <br>
                <p>ETQ与VIU Eyewear合作推出DUPLEX系列 - 四种引人注目的现代可穿戴设备，全3D <br>打印。</p>
                <p>每个框架都由VIU独立开发，采用基于聚酰胺粉末的尖端3D打印技术。完整的一系列 <br>超轻，持久和可持续的框架，干净，永恒的设计。</p>
                <br>
                <p>6月28日在etq商店或 <a href="" class="xianWu">www.etq-amsterdam.com</a>在线提供。</p>
                <br>
                <a href="" class="xianWu">分享</a>
            </div>
        </div>
    </div>
    <!--板块2-->
    <br>
    <br>
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9">
                <img src="../img/wzlpage2-bk1-18.jpg" alt=""  class="col-lg-12">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <p class="Read">
                    我们相信优秀的设计在于细节，但一眼就能看 <br>
                    到更少的细节。您必须近距离探索能够将优秀 <br>
                    设计变为优秀的最小细节。 ETQ和VIU均采用 <br>
                    创新技术和技术先进的材料，开发出性质简单 <br>
                    但细节丰富的产品。 <br>
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid" id="div2">
        <div class="row">
            <div class="col-lg-9">
                <img src="../img/wzlpage2-bk1-19.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid" id="div3">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9">
                <img src="../img/wzlpage2-bk1-20.jpg" alt=""  class="col-lg-12">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <p class="Read">
                该系列为每位客户单独3D打印 - 逐帧。基于聚 <br>
                酰胺粉末，框架超轻，高度耐用，绝对可持 <br>
                续，零废弃物制造。 <br>
            </p>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>

<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/page2-bk1-2.js"></script>

<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>