<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/page3css.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->

</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div>
        <div class="container-fluid">
            <div class="row">
                <!--板块1左-->
                <div class="col-lg-6">
                    <img src="../img/wangzi1.jpg" class="col-lg-12">
                </div>
                <!--板块1右-->
                <div class="col-lg-6 row">
                    <p class="Free">
                        我们的Delta重新定义
                    </p>
                    <br>
                    <h3 class="Nappa">
                        以新形式介绍熟悉的模型：
                        <br>
                        Delta。单色色彩区别 - 来自鞋带......
                    </h3>
                    <br>
                    <br>
                    <div class="col-lg-12">
                        <a class="Read xianWu">
                            读故事
                        </a>
                    </div>
                    <img src="../img/wangzi2.jpg" class="col-lg-6 img-div1">
                    <img src="../img/wangzi3.jpg"  class="col-lg-6 img-div1">
                    <!--图下文字-->
                    <div class="col-lg-12 row">
                        <!--左-->
                        <p class="col-lg-5 fontJianjie1 img-div3">
                            法院经典
                            <br>
                            Low 4 Vermont以Montepelier的经典网球场命名，带来全新视角......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                        <!--右-->
                        <p class="col-lg-6 col-lg-offset-1  fontJianjie2 img-div3">
                            关于传统与技术
                            <br>
                            这一季的最新低1是通过缝合一件鞋面，鞋垫和外底来创造的......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div id="div1">
        <div class="container-fluid div-pd">
            <div class="row">
                <div>
                    <!--小板块1-->
                    <div class="col-lg-4">
                        <img src="../img/wangzi4.jpg" class="col-lg-7">
                        <p class="col-lg-5 fontJianjie3">
                            ETQ x CP公司SS18展览会
                            <br>
                            CP公司本月将他们的想法转向阿姆斯特丹，......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                    <!--小板块2-->
                    <div class="col-lg-4">
                        <img src="../img/wangzi5.jpg" class="col-lg-7">
                        <p class="col-lg-5 fontJianjie3">
                            Vortex：ETQ的创新坚定者
                            <br>
                            我们对创新的追求始于采购......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                    <!--小板块3-->
                    <div class="col-lg-4">
                        <img src="../img/wangzi6.jpg" class="col-lg-7">
                        <p class="col-lg-5 fontJianjie3">
                            介绍SS18：重新连接
                            <br>
                            2018年春夏，我们回到基地...
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--板块3-->
    <div id="div2">
        <div class="container-fluid div-pd">
            <div class="row">
                <!--板块3左-->
                <div class="col-lg-6">
                    <img src="../img/wangzi7.jpg" class="col-lg-12">
                </div>
                <!--板块3右-->
                <div class="col-lg-6 row">
                    <p class="img-div2">
                        对正绒面革的探索
                    </p>
                    <h3 class="summer">
                        塑造正绒面革的故事是关于工艺的。
                        <br>
                        由最持久的类型制成......
                    </h3>
                    <div class="col-lg-12 div-top9">
                        <a class="Read xianWu">
                            读故事
                        </a>
                    </div>
                    <img src="../img/wangzi8.jpg" class="col-lg-6 img-div4">
                    <img src="../img/wangzi9.jpg"  class="col-lg-6 img-div4">
                    <!--图下文字-->
                    <div class="col-lg-12 row">
                        <!--左-->
                        <p class="col-lg-5 fontJianjie1 img-div3">
                            Triple Black中常见的形状
                            <br>
                            通过对比材料和结构进行调整，三重黑色包装是一个会说...
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                        <!--右-->
                        <p class="col-lg-6 col-lg-offset-1  fontJianjie2 img-div3">
                            探索我们的精华
                            <br>
                            Essence系列严格包含衣橱必需品的轮廓。为了维持他们......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--板块4-->
    <div id="div3">
        <div class="container-fluid div-pd1">
            <div class="row">
                <div>
                    <!--小板块1-->
                    <div class="col-lg-4">
                        <img src="../img/wangzi10.jpg" class="col-lg-6">
                        <p class="col-lg-6 fontJianjie4 fontJianjie2">
                            <strong>由我们的团队策划</strong>
                            <br>
                            我们的团队选择了他们最喜欢的冬季起床，而......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                    <!--小板块2-->
                    <div class="col-lg-4">
                        <img src="../img/wangzi11.jpg" class="col-lg-6">
                        <p class="col-lg-6 fontJianjie4 fontJianjie2">
                            <strong>介绍2017年秋季/冬季ETQ第二章</strong>
                            <br>
                            继ETQ秋冬207系列的第一章之后......
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                    <!--小板块3-->
                    <div class="col-lg-4">
                        <img src="../img/wangzi12.jpg" class="col-lg-6">
                        <p class="col-lg-6 fontJianjie4 fontJianjie2">
                            <strong>精华系列SS17活动</strong>
                            <br>
                            我们通过推出......回到我们的核心
                            <br>
                            <br>
                            <a href="" class="xianWu">读故事</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <ul class="col-lg-offset-5 col-lg-2">
                <li><a href="/page2" id="a1" class="xianWu"> < </a></li>
                <li><a href="/page1" class="xianWu">1</a></li>
                <li><a href="/page2" class="xianWu">2</a></li>
                <li><a href="/page3" class="xianWu">3</a></li>
                <li><a href="/page4" class="xianWu">4</a></li>
                <li><a href="/page4" id="a2" class="xianWu"> > </a></li>
            </ul>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>

<script src="../js/page3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
</body>
</html>