<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page2-bk2-1.css">
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <link rel="stylesheet" href="../css/pages-img.css">
</head>
<body>
<!--页头-->
<%-include('common/nav.ejs')%>
<!--内容-->
<section>
    <!--板块1-->
    <div class="container-fluid" id="div1">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-1.jpg" alt="" class="col-lg-12">
            </div>
            <div class="col-lg-6">
                <div style="padding-top: 150px">
                    <p class="title">etq store lookbook SS18</p>
                    <p class="Read">
                        春天自然的独特色调在新季系列中找到了相似之处。在各种各样的柔软材料和轻盈的 <br>
                        质地中，当前季节的定义是一种精致的俏皮感，只能在春夏季节中找到。 <br>
                    </p>
                    <p class="Read">
                        我们整理了几个轻松的外观，轻轻地放入一个新的衣柜。
                    </p>
                    <p class="Read">
                        lookbook中的所有商品均可在阿姆斯特丹的etq商店购买。特色商品：Norse <br>
                        Projects，Ami Paris，Converse，DrôledeMonsieur，Harmony Paris。 <br>
                    </p>
                    <p class="Read">
                        <a href="" class="xianWu">分享</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--板块2-->
    <div class="container-fluid" id="div2">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-3">
                <div class="zuo">
                    <p class="Read">营地项圈</p>
                    <p class="Read">在30年代初期，运动服进入男人的壁橱，感觉 <br>
                        需要放松自己的风格。 这款休闲运动衫经过精<br>
                        心设计，以春季/夏季的形式重现各种形式：装 <br>
                        饰有经典的细条纹，原型花卉图案和简约风格 <br>
                        的简约色调。<br>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-2.jpg" alt=""class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块3-->
    <div class="container-fluid" id="div3">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-3.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块4-->
    <div class="container-fluid" id="div4">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-3">
                <div class="zuo">
                    <p class="Read">Drizzler夹克</p>
                    <p class="Read">迄今为止最具复古风格的夹克之一，因其多功 <br>
                        能性和崇拜地位而受到赞誉。这件夹克式夹克 <br>
                        性质简单，但采用当代工作服形式和更经典的 <br>
                        款式。这取决于细节; 从直拉链和斜口袋到传统 <br>
                        衣领。 <br>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-4.jpg" alt="" class="col-lg-12" >
            </div>
        </div>
    </div>
    <!--模块5-->
    <div class="container-fluid" id="div5">
        <div class="row">
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-5.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
    <!--板块6-->
    <div class="container-fluid" id="div6">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-3">
                <div class="zuo">
                    <p class="Read">S 短裤</p>
                    <p class="Read">它们以突出的方块拼凑而成，或用深蓝色和灰 <br>色调制作最小的声明。无论哪一件都适合你，<br>短裤是温度升高的必需品。</p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="../img/wzlpage2-bk2-6.jpg" alt="" class="col-lg-12">
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<%-include('common/footer.ejs')%>
<script src="../js/page2-bk2-1.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/nav.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../js/yewei.js"></script>
<script src="../js/pages-img.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
</body>
</html>