<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/pifa.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/yewei.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<body>
<%-include('common/nav.ejs')%>
<div id="back1">
    <!--<div id="free">-->
        <!--<input type="text" placeholder="Free shipping" id="input1" ><i class="fas fa-search" id="color"></i>-->
    <!--</div>-->
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="hour123">
    <span id="hour"><i class="fas fa-angle-left" id="jian"></i><i class="fas fa-arrow-left" id="jian1"></i></span>
    <a href="../html/information.html"><span id="return">返回</span></a>
</div>
<div>
    <p id="ww">批发和陈列室</p>
</div>
<div id="ww1">
    如果您有兴趣成为ETQ零售商，请发送电子邮件至  <a href="http://www.etq-amsterdam.com/cdn-cgi/l/email-protection#67100f080b0214060b02270213164a060a1413021503060a4904080a"><span id="ho" class="xianWu"> [email protected]</span></a>
    <br><br>
    谢谢。
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%-include('common/footer.ejs')%>
<script src="../js/pifa.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/yewei.js"></script>
</body>
</html>