<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/readMore.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<%-include('common/nav.ejs')%>
<section id="nei">
    <div id="tu">
        <div class="tuDiv">
            <img src="../images/readMore/about-image.jpg" alt="" class="tu">
        </div>
        <div class="ETQdiv">
            <span class="ETQ">关于ETQ</span><br><br>
           <span class="wen">ETQ于2010年在阿姆斯特丹成立，旨在回应过度丰富品牌和过度定价的奢侈品潮流。我们的设计并不局限于时尚 - 我们只是希望以合适的价格提供高品质，精心设计的必需品。我们以简约的理念工作，因为我们相信可持续性和耐用性对我们和我们的世界更有利。
            </span>
        </div>
    </div>
    <div class="Float"></div>
</section>
<section id="nei2">
    <div id="wen">
        <span>阿姆斯特丹旗舰店</span><br><br>
        <span>2015年，我们将ETQ理念转化为阿姆斯特丹市中心的旗舰店。etq商店将我们的品味，美学和文化融入与studiojosvandijk合作设计的购物环境中。在我们自己的ETQ产品旁边，etq商店提供精心挑选的外部品牌服装，鞋类和配饰，其特点符合我们基本，永恒品质的标准。</span><br><br>
        <a href="/etq" class="xianWu">更多关于etq商店</a>
    </div>
    <div id="Open">
        <span>营业时间</span><br>
        <span>星期一</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>上午10点-下午6点</span><br><br>
        <span>星期二</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>上午10点-下午6点</span><br><br>
        <span>星期三</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>上午10点-下午6点</span><br><br>
        <span>星期四</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>上午10点-下午6点</span><br><br>
        <span>星期五</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>上午10点-下午6点</span><br><br>
        <span>星期六</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>上午10点-下午6点</span><br><br>
        <span>星期天</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>上午12点-下午6点</span><br><br>
    </div>
    <div id="singe">
        <span>Singel 465 </span> <br><br>
        <span>1012 WP阿姆斯特丹</span><br><br>
        <span>荷兰</span><br><br>
        <a  class="xianWu">获取路线</a><br><br>
        <a href="tel:+31（0）20 26 13 815" class="xianWu" >+31（0）20 26 13 815</a><br><br>
        <a href="mailto:info@etqstore.com" class="xianWu">info@etqstore.com</a><br><br>

    </div>
</section>
<%-include('common/yewei.ejs')%>
<script src="../bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/readMore.js"></script>
</body>
</html>